footer{
    background-color: blue;
       
 }
 footer nav{
    display: flex;
    justify-content: space-around;
 }

.menu{
    list-style: none;
}
.menu li a{
 text-decoration: none;
 font-size: 16px;
 color: aliceblue;
 display: inline-block;
 margin: 0 25px;
}
    
.icons li{
    list-style: none;
    display: inline-block;
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.fb{
    background-image: url("img/fb_gray.png");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.fb:hover{
background-image: url("img/fb.png");
}

.insta{
    background-image: url("img/insta_gray.png");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.insta:hover{
    background-image: url("img/insta.png");
}
.youtube{
    background-image: url("img/youtube_gray.png");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.youtube:hover{
    background-image: url("img/youtube.png");
}
.copyright{
    padding-bottom: 20px;
    text-align: center;
    color:aliceblue;
}

